<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/quanlibanhang</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">quanlibanghang</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
	    <property name="format_sql">true</property>
	    <property name="use_sql_comments">false</property>
	    <property name="hibernate.current_session_context_class">thread</property>
	    
	    <!-- Map files -->
    	<mapping resource="com/nhom28/quanlibanhang/BanHang.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/BoPhan.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/ChiTietBanHang.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/ChiTietChuyenKho.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/ChiTietMuaHang.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/ChuyenKho.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/DonViTinh.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/HangHoa.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/KhachHang.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/Kho.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/KhuVuc.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/LichSuHangHoa.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/MuaHang.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/NguoiDung.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/NhanVien.hbm.xml" />    	
    	<mapping resource="com/nhom28/quanlibanhang/NhaPhanPhoi.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/NhatKyHeThong.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/NhomHang.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/NhomNguoiDung.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/PhanQuyen.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/PhieuBanHang.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/PhieuChi.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/PhieuMuaHang.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/PhieuThu.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/SoDuDauKy.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/ThongTinDonViSuDung.hbm.xml" />
    	<mapping resource="com/nhom28/quanlibanhang/TyGia.hbm.xml" />
    </session-factory>
</hibernate-configuration>
